<!DOCTYPE html>
<html>

<head>
  <title>
    CineMark
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <figure>
    <img src="/img/logo-DH.png" alt="Logo Digital House">
  </figure>
  <h1>
    CineMark
  </h1>
  <p>Bienvenidos a CineMark
  </p>
  <a href="/movies">Listado peliculas</a>
</body>

</html>